{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full">

<head>

  {% include "includes/head.html" %}
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  {% block extrastyle %}{% endblock extrastyle %}

</head>

<body class="bg-gray-50 dark:bg-gray-800 h-full flex flex-col">

  {% block messages %}{% endblock messages %}

  {% block navigation %}
    {% include "includes/navigation.html" %}
  {% endblock navigation %}

  <div class="flex flex-1 pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    {% block sidebar %}
      {% include "includes/sidebar.html" %}
    {% endblock sidebar %}

    <div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>

    <div id="main-content" class="relative w-full flex-1 bg-gray-50 dark:bg-gray-900 lg:ml-64">
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>


  {% include "includes/scripts.html" %}
  {% block extra_js %}{% endblock extra_js %}

</body>

</html>